
<html>
    <form action="/courseCreated" method="POST">
        
        id :  <input id="id" placeholder="Enter course id" type="number" name='id'/>
        <br>
    
    
        title :  <input id="title" placeholder="Enter course title " type="text" name='title'/>
            <br>
        image_path :  <input id="image_path" placeholder="Enter course image_path" type="text" name='image_path'/>
        <br>
    
        description :  <input id="description" placeholder="Enter course description" type="text" name='description'/>
    
        <br>
        date added :  <input id="date_created" placeholder="Enter course date of creation" type="text" name='date_created'/>
    
        
        <br>
        date update :  <input id="date_updated" placeholder="Enter course date of modification" type="text" name='date_updated'/>
    
    
        <br>
        price :  <input id="price" placeholder="Enter course price" type="text" name='price'/>
    
        <br>
        on_discount :  <input id="on_discount" placeholder="is course on discount" type="text" name='on_discount'/>
    
        <br>
        discounted_price :  <input id="discounted_price" placeholder="Enter course discounted price" type="text" name='discounted_price'/>
    
        <br>
        <button type="submit" name="action">Submit</button>
    
        </form>




</html>
    
    