
<html>
    <!-- <form action="/courseUpdated" method="POST"> -->
    <form action="" method="POST">
        
        id :  <input id="id" value = "{{data_Dict['id']}}" placeholder="{{data_Dict['id']}}" type="number" name='id'/>
        <br>
    
    
        title :  <input id="title" value="{{data_Dict['title']}}" placeholder="{{data_Dict['title']}}" type="text" name='title'/>
            <br>
        image_path :  <input id="image_path" value="{{data_Dict['image_path']}}" placeholder="{{data_Dict['image_path']}}" type="text" name='image_path'/>
        <br>
    
        description :  <input id="description" value = "{{data_Dict['description']}}" placeholder="{{data_Dict['description']}}" type="text" name='description'/>
    
        <br>
        date added :  <input id="date_created" value="{{data_Dict['date_created']}}" placeholder="{{data_Dict['date_created']}}" type="text" name='date_created'/>
    
        
        <br>
        date update :  <input id="date_updated" value="{{data_Dict['date_updated']}}" placeholder="{{data_Dict['date_updated']}}" type="text" name='date_updated'/>
    
    
        <br>
        price :  <input id="price" value = "{{data_Dict['price']}}" placeholder="{{data_Dict['price']}}" type="text" name='price'/>
    
        <br>
        discounted_price :  <input id="discounted_price" value= "{{data_Dict['discounted_price']}}" placeholder="{{data_Dict['discounted_price']}}" type="text" name='discounted_price'/>
    
        <br>
        on_discount :  <input id="on_discount" vaue="{{data_Dict['on_discount']}}" placeholder="{{data_Dict['on_discount']}}" type="text" name='on_discount'/>
    
        <br>
        <button type="submit" name="action">Submit</button>
    
        </form>


<!-- 
        {{data_Dict['id']}}
        {{data_Dict['date_created']}}
        {{data_Dict['date_updated']}}
        {{data_Dict['price']}}
        {{data_Dict['on_discount']}}
        {{data_Dict['dis']}}
        {{data_Dict['on_discount']}}
        {{data_Dict['price']}}
        {{data_Dict['on_discount']}}
         -->

</html>
    
    